---
layout: default
---

<div class="home">

  {{ content }}

  {% if site.posts.size > 0 %}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in site.posts -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}{% if post.last_updated %} · updated {{ post.last_updated | date: date_format }}{% endif %}{% if post.draft %} <em style="color: #d32f2f;">[DRAFT]</em>{% endif %}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
      </li>
      {%- endfor -%}
    </ul>

  {% endif %}

</div>
